.feedback {
  display: flex;
  flex-wrap: nowrap;
  height: 660px;
  justify-content: space-between;
}
.feedback-img-column {
  img {
    height: 660px;
    object-fit: cover;
    padding-bottom: 20px;
  }
  .resized-bad {
    transform: scale(0.8);
  }
  .resized-excellent {
    transform: scale(0.88);
    margin-left: 40px;
  }
}

.feedback-desc-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2;
  .feedback-description {
    color: #707070;
    font-size: 40px;
    text-align: center;
    max-width: 890px;
    margin-bottom: 0;
  }
  .circle {
    background-color: rgba(93, 109, 255, 0.3);
    border-radius: 50%;
    height: 121px;
    width: 130px;
    align-items: center;
  }
  .percentage {
    color: #5d6dff;
    font-size: 89px;
    font-weight: 500;
    text-align: center;
    align-self: center;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    span {
      font-size: 49px;
      font-weight: 400;
    }
  }
}

.finish-btn {
  align-self: flex-end;
  justify-self: flex-end;
  max-width: 188px;
  padding: 30px 60px 30px 60px;
  background: #7e88ff 0% 0% no-repeat padding-box;
  border-radius: 70px 0px 0px 70px;
  border: none;
  transition: ease 0.5s;
  font-size: 30px;
  text-align: center;
  color: white;
  margin-bottom: 150px;
  overflow: hidden;
  &:hover {
    background-color: #5967ff;
    padding-left: 20px;
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  .finish-link {
    color: white;
    text-decoration: none;
  }
}
